.form-wrapper {
  width: 40%;
  border: 2px solid #f0c000;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.product-form {
  display: flex;
  flex-direction: column;
}

.product-form__label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.product-form__input {
  border: 1px solid silver;
  border-radius: 5px;
  outline: 0px;
  padding: 0.3rem 0.5rem;
  outline: none;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
}

.product-form__input:focus {
  outline: 1px solid grey;
  outline-offset: -1px;
}

.product-form__controls {
  display: flex;
}

.btn__add,
.btn__reset {
  color: white;
}

.btn__add {
  background-color: #f0c000;
  margin-right: 1rem;
}

.btn__add:hover {
  background-color: #fc0;
}

.btn__reset {
  background-color: red;
}

.btn__reset:hover {
  background-color: #ff3d02;
}
